{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bread Details</title>
</head>

<h2>{{ bread.name}}</h2>

<section>
    <div>
        <p>Region: {{ bread.region }}</p>

        <p>Ingredients:

        <ul>
            {% for ingredient in bread_ingredients %}
            <li>{{ingredient.name}} - {{ingredient.amount}}</li>
            <form action="{% url 'breadapp:bread_details' ingredient.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="actual_method" value="DELETE">
                <button>Delete</button>
            </form>
            {% endfor %}
        </ul>
        </p>

</section>

</body>

</html>